@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.9rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body, img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1.4em;
    flex-direction: column;
    padding: 7vh;
    position: relative;
    overflow: hidden;
    
}

#imageMusic {
    border: 1px solid rgba(0, 0, 0, 0.534);
    width: 65vh;
    height: 65vh;
    background-size: cover;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#mediaControlInterface {
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
    text-align: center;
}

#low-volume, #voice {
    width: 25px;
    height: 25px;
}

#back-music {
    width: 27px;
    height: 27px;
}

#play {
    width: 29px;
    height: 29px;
}

#next-music {
    width: 27px;
    height: 27px;
    transform: scaleX(-1);
}

#replay, #shuffle {
    width: 23px;
    height: 23px;  
}

#timeContainer {
    display: flex;
    width: min-content;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 7vh;
    column-gap: 1.5px;
}

#hours-and-minutes, #seconds {
    font-weight: 400;
}

#hours-and-minutes {
    font-size: 4.4em;
    
}

#seconds {
    font-size: 2em;
    align-self: flex-end;
    
}

#config-image {
    transition: 1s ease;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4vh 2vh;
    width: 45px; height: 45px;
}

@media (max-width:430px) {
    #mediaControlInterface {
        width: 100%;
        margin-top: 50%;
    }

    #imageMusic {
        width: 40vh;
        height: 40vh;
    }

    h1 {
        font-size: 1.2em;
    }

    #mainContainer {
                
        justify-content: center;
    }


}

@media (max-width: 960px) {
    #config-image, #timeContainer {
        display: none;
    }
}

.button-controller {
    border-radius: 100%;
    transition: 0.2s linear; 
}